<div class="container mx-auto">
  {{#if (not (eq this.router.currentRouteName "booking"))}}
    <button {{on "click" (fn this.transitionToRoute "booking")}} class="action-button">
      Go to Booking
    </button>
  {{/if}}
  {{outlet}}
</div>
